<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<!-- css added -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/media.css">
</head>
<body>
	<!-- Header start -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-5">
					<div class="logo">
						<a href="#"><img src="images/logo.png" class="img-responsive"></a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-header-info">
						<p><span>PM AWAS</span> - Customised Services For Housing Ownership</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="top-social-bar">
						<ul>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="g-plus"></a></li>
							<li><a href="#" class="twitter"></a></li>
							<li><a href="#" class="insta"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<a href="javascript:void(0)"class="mobile-trigger">
				<span></span>
			</a>
		</div>
	</header>
	<!-- Header End -->

	<!-- MENU STRAT -->
	<nav class="menu-wraper">
		<div class="container">
			<ul class="menu">
				<li><a href="#">HOME</a></li>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">EMI CALCULATOR</a></li>
				<li><a href="#">SCHEMES</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
	</nav>
	<nav class="mobile-menu" id="mobileMenu">
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#">ABOUT US</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">EMI CALCULATOR</a></li>
			<li><a href="#">SCHEMES</a></li>
			<li><a href="#">CONTACT US</a></li>
		</ul>
		<a href="javascript:void(0)" class="hide-trigger">x</a>
	</nav>
	<!-- MENU END -->

	<section class="emi-calculate-wraper">
		<div class="container">
			<div class="topCalculate-bx">
				<h2 class="border-center-hding">To Calculate Total Subsidy amount and EMI, fill the following :</h2>

				<div class="calculate-box-wraper">
					<div class="calculatebx">
						<label>Enter Loan Amount</label>
						<div class="calculateInput">
							<span></span>
							<input type="text" name="" autofocus>
						</div>
					</div>
					<div class="calculatebx">
						<label>Enter Tenure</label>
						<div class="calculateInput">
							<span></span>
							<input type="text" name="" autofocus> 
						</div>
					</div>
					<div class="calculatebx">
						<label>Enter Family Income</label>
						<div class="calculateInput">
							<span></span>
							<input type="text" name="">
						</div>
					</div>

					<div class="calculatebtn-box">
						<button type="button">CALCULATE</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Emi Scheme Wraper Start -->
	<section class="emiPmay-schemeWraper">
		<div class="container">
			<div class="withPmay-schemebx">
				<h3>With PMAY Scheme</h3>
				<div class="withPmay-inputWraper">
					<div class="withPmay-inputbx">
						<label>Total Subsidy Given</label>
						<input type="text" name="">
					</div>
					<div class="withPmay-inputbx">
						<label>EMI</label>
						<input type="text" name="">
					</div>
						<p>Total Amount you will be paying</p>
					<div class="withPmay-inputbx">
						<label>In <span>20</span> Years</label>
						<input type="text" name="">
					</div>
				</div>
			</div> <!-- With PMAY Scheme BOx End -->

			<div class="withoutPmay-schemebx">
				<h3>Without PMAY Scheme</h3>
				<div class="withoutPmay-inputWraper">
					<div class="withoutPmay-inputbx withPmay-inputbx">
						<label>Total Subsidy Given</label>
						<input type="text" name="">
					</div>
					<div class="withoutPmay-inputbx withPmay-inputbx">
						<label>EMI</label>
						<input type="text" name="">
					</div>
						<p>Total Amount you will be paying</p>
					<div class="withoutPmay-inputbx withPmay-inputbx">
						<label>In <span>20</span> Year</label>
						<input type="text" name="">
					</div>
				</div>
			</div>
			<div class="totalsavingPercenteg-bx">
				<div class="totalSavingbx">
					<label>Total Saving</label>
					<input type="text" name="">
				</div>
				<div class="percenteagebx">
					<label>Percentage</label>
					<input type="text" name="">
				</div>
				
			</div>

			<div class="emi_bottom-tagline">
				<p>Give PMAY(CLSS) <span>Eligibility Survey</span> to know your exact saving.</p>
			</div>
		</div>
	</section>
	<!-- Emi Scheme Wraper End -->
	<!-- Footer Start -->
	<footer class="footer">
		<div class="container">
			<div class="footer-menu-wraper">
				<div class="footer-logo">
					<img src="images/logo.png" alt="" class="img-responsive">
				</div>
				<div class="footer-menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Schemes</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-social-wraper">
				<div class="footer-social-box">
					<div class="top-social-bar footer-social-bar">
						<h6 class="border-hding">Lets Get Social</h6>
						<ul>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="g-plus"></a></li>
							<li><a href="#" class="twitter"></a></li>
							<li><a href="#" class="insta"></a></li>
						</ul>
					</div>
					<div class="copy-right-wraper">
						<p>© Copyright 2018 company - All Rights Reserved.</p>
					</div>
				</div>
			</div>
	</footer>

	<!-- js added -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>